/* css for body starts here */

body {
    background-color: white;
    /* padding-left: 30px; */
    font-family: 'Rubik', sans-serif;
}

p {
    /* line-height: 14px; */
    font-family: 'Lato', sans-serif;
}

.wlecomeHeader {
    font-family: 'Rubik', sans-serif;
    /* padding-top: 2px; */
    position: fixed;
    z-index: 20;
    background-color: #494545;
    padding-bottom: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
    border: 1px solid #494545;
    height: 30px;
}

.wlecomeHeaderUl {
    list-style: none;
    margin-top: -8px;
}

.wlecomeHeaderUl li {
    display: inline-block;
    text-decoration: none;
    /* margin: 0px; */
    /* padding: 0px; */
    /* margin-left: 10px; */
}

.wlecomeHeaderUl li a {
    padding: 0px;
    text-decoration: none;
    color: white;
    margin: 0px;
    font-size: 14px;
}

.wlecomeHeader .wlecomeHeaderUl .wlecomeHeaderTagline {
    margin-right: 250px;
    margin-left: -53px;
    /* border: 1px solid #999; */
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.wlecomeHeader .wlecomeHeaderUl .wlecomeHeaderIcon {
    /* margin-left: 190px; */
    /* margin: 0px; */
    margin-left: -4px;
    /* border: 1px solid #999; */
    /* height: px; */
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.wlecomeHeader .wlecomeHeaderUl .wlecomeHeaderGeneralEmail {
    margin-left: -5px;
    margin-right: -5px;
    /* border: 1px solid #999; */
    padding-left: 255px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.wlecomeHeader .wlecomeHeaderUl .wlecomeHeaderGeneralContact {
    /* margin-left: 6px; */
    /* margin: 0px; */
    /* border: 1px solid #999; */
    padding-left: 10px;
    /* padding-right: 10px; */
    padding-bottom: 8px;
    padding-top: 8px;
}

.wlecomeHeaderGeneralInfo li {
    display: inline-block;
}

.wlecomeHeaderGeneralInfo li a {
    text-align: right;
    text-decoration: none;
}


/* .wlecomeHeader ul {
    list-style: none;
    display: inline-block;
} */


/* css for logo starts here */
.MenuBar{
    position: fixed;
    z-index: 19;
    background-color: white;
    width: 100%;
    height: 90px;
    z-index: 10;
    /* margin-top: 2px; */
    padding-top: 1px;
}

.navbar-light {
    /* background-color: transparent; */
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

.navbar-brand img {
    margin-left: 15px;
    margin-top: 10px;
    height: 85px;
    width: 150px;
}


/* css for header starts here */

#navbarTogglerDemo01 ul li a {
    padding-right: 30px;
    padding-left: 30px;
}
.navbar-collapse {
    padding-left: 730px;
}

/* .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 700px;
    margin-bottom: 0;
    list-style: none;
} */


/* css for slider starts here */

.carousel-inner img {
    width: 100%;
    height: 700px;
}


/* css for first section starts here */

.firstsec {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    /* background-color: rgb(250, 245, 245); */
}

.firstsec h6 {
    color: rgb(118, 118, 143);
    font-size: 15px;
    text-align: left;
}

.firstsec h2 {
    color: rgb(199, 6, 6);
    font-size: 40px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 750px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Rubik', sans-serif;
}

.firstsec h2:hover {
    color: rgb(199, 6, 6);
    font-size: 40px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 690px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.firstsec p {
    color: black;
    font-size: 16px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}


/* css for aboutus starts here */

.aboutus {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 50px;
    /* padding-right: 50px; */
}

.aboutus h2 {
    color: rgb(199, 6, 6);
    font-size: 30px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 1250px;
    font-family: 'Rubik', sans-serif;
}

.aboutus h2:hover {
    color: rgb(199, 6, 6);
    font-size: 30px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 1200px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.aboutus p {
    /* padding-top: 10px; */
    color: black;
    font-size: 16px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

.aboutus h5 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-size: 25px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

.aboutus h5:hover {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-size: 25px;
    border-left: 2px solid rgb(32, 64, 138);
    border-right: 2px solid rgb(32, 64, 138);
    border-top: 2px solid rgb(32, 64, 138);
    border-bottom: 2px solid rgb(32, 64, 138);
    text-align: center;
    padding: 10px;
    color: rgb(32, 64, 138);
    font-family: 'Rubik', sans-serif;
}


/* css for service section starts here */

.service {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(250, 245, 245);
}

.service h2 {
    color: rgb(199, 6, 6);
    font-size: 30px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 800px;
    padding-top: 20px;
    font-family: 'Rubik', sans-serif;
}

.service h2:hover {
    padding-top: 20px;
    color: rgb(199, 6, 6);
    font-size: 30px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 750px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.service h5 {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

.service h5:hover {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-size: 15px;
    border-left: 2px solid rgb(32, 64, 138);
    border-right: 2px solid rgb(32, 64, 138);
    border-top: 2px solid rgb(32, 64, 138);
    border-bottom: 2px solid rgb(32, 64, 138);
    text-align: center;
    padding: 10px;
    color: rgb(32, 64, 138);
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.serviceRow {
    margin-top: 30px;
}


/* css for projects starts here */

.projectRow {
    padding-left: 50px;
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: rgb(32, 64, 138);
    color: #ffffff;
    font-size: 20px;
}

.projectRow span {
    font-size: 40px;
}

.projectRow h6 {
    padding-left: 25px;
}


/* css for extra four starts here */

.extra {
    padding-left: 0px;
    height: 250px;
    margin-bottom: 30px;
    /* background-color: rgb(250, 245, 245); */
}

.extra a h5 {
    /* padding-right: 300px; */
    color: black;
    text-decoration: none;
}

.extra a:hover {
    color: 4px solid rgb(118, 118, 143);
    /* color: black; */
    text-decoration: none;
}

.extra h2 {
    font-size: 30px;
    padding-right: 800px;
}

.career img {
    height: 85px;
}

.extra img {
    height: 60px;
}

.extra img:hover {
    background-color: rgb(32, 64, 138);
    height: 60px;
}

.extra .extraicon {
    margin-top: 65px;
    padding-left: 60px;
}

.extra .extraicon img {
    cursor: pointer;
}


/* css for career starts here */

.extra .career img {
    z-index: -1;
    position: absolute;
    filter: grayscale(50%);
    height: 250px;
}

.extra .career h5 {
    margin-top: 10px;
    font-size: 30px;
    line-height: 20px;
    font-family: 'Rubik', sans-serif;
}

.extra .career h5 {
    padding-top: 45px;
    padding-left: 10px;
    color: rgb(199, 6, 6);
    word-spacing: 20px;
    font-family: 'Rubik', sans-serif;
}

.extra .career h6 {
    color: black;
    text-align: left;
    padding-left: 10px;
    font-family: 'Rubik', sans-serif;
}

.insightBackgroundImg {
    background-image: url('file:///C:/xampp/htdocs/Bhavna/Media_Magnet_Entertainment/assets/images/laptop-image.jpeg');
    position: absolute;
    filter: grayscale(50%);
    /* padding-right: 25px; */
    width: 422px;
    height: 285px;
    /* margin-right: 0px; */
}


/* .insightBackground img {
    z-index: -1;
    position: absolute;
    filter: grayscale(50%);
    padding-right: 25px;
    margin-right: 0px;
} */

.insightBackground h2 {
    color: rgb(199, 6, 6);
    margin-right: 500px;
    margin-top: 40px;
    text-align: left;
    padding-left: 10px;
    filter: grayscale(0%);
    font-family: 'Rubik', sans-serif;
}

.insightBackground h6 {
    color: black;
    text-align: left;
    padding-left: 10px;
    font-family: 'Rubik', sans-serif;
}


/* css for clients starts here */

.clients {
    /* color:rgb(199, 6, 6);
    font-size: 40px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 750px; */
}

.clients h2 {
    color: rgb(199, 6, 6);
    font-size: 30px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 770px;
    margin-left: 35px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
}

.clients h2:hover {
    color: rgb(199, 6, 6);
    font-size: 30px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 700px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.clients img {
    height: 120px;
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    /* border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black; */
    padding: 20px;
}

.clients img:hover {
    height: 120px;
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    /* border-left: 2px solid black;
    border-bottom: 2px solid black;
     padding: 20px; */
}


/* css for enquiry form starts here */

.contactForm {
    padding-top: 20px;
    padding-right: 300px;
    padding-left: 300px;
    background-color: rgb(32, 64, 138);
}

.contactForm h2 {
    color: white;
    font-size: 30px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 1250px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.contactForm h2:hover {
    color: white;
    font-size: 30px;
    text-align: left;
    font-style: bold;
    border-bottom: 4px solid rgb(118, 118, 143);
    margin-right: 1170px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.contactForm .btn {
    font-size: 15px;
    margin-top: 25px;
}

.contactForm form {
    margin-left: 50px;
    margin-top: 20px;
}

.contactForm .submitButton {
    color: white;
    margin-bottom: 25px;
    margin-left: 600px;
    border: 2px solid red;
}

.contactForm .submitButton:hover {
    color: red;
    margin-bottom: 25px;
    margin-left: 600px;
    border: 2px solid red;
}

.form h3:hover {
    cursor: pointer;
    border-bottom: 4px solid #b83d36;
    background-color: rgb(253, 248, 245);
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 900px;
    text-align: right;
}


/* .form-group{
    font-size: 18px;
}
.form-control{
    font-size: 18px;
}
.form button{
    font-size: 15px;
} */


/* css for footer starts here */

.footer1 {
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 30px;
    background-color: rgb(250, 245, 245);
}

.footer1 h5 {
    color: rgb(32, 64, 138);
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Rubik', sans-serif;
}

.footer1 ul {
    padding-top: 30px;
}

.footer1 ul li {
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.footer1 ul li a {
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    color: black;
    list-style-type: none;
    margin-left: 50px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
    word-spacing: 5px;
    /* padding-bottom: 20px; */
    /* margin-bottom: 4px; */
    /* border-bottom: 4px solid white; */
}

.footer1 ul li a:hover {
    letter-spacing: 0.5px;
    text-decoration: none;
    color: rgb(32, 64, 138);
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    list-style-type: none;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    border-bottom: 2px solid #494545;
}

.footer2 {
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 30px;
    background-color: rgb(250, 245, 245);
    /* margin-bottom: 10px; */
}

.footer2 h5 {
    color: rgb(32, 64, 138);
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Rubik', sans-serif;
}

.footer2 ul {
    padding-top: 30px;
}

.footer2 ul li a {
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    color: black;
    list-style-type: none;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    /* padding-bottom: 20px; */
    /* margin-bottom: 4px; */
    /* border-bottom: 4px solid white; */
}

.footer2 ul li {
    list-style: none;
}

.footer2 ul li a:hover {
    letter-spacing: 0.5px;
    color: rgb(32, 64, 138);
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    list-style-type: none;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    border-bottom: 2px solid #494545;
}

.footer2 p {
    margin-top: 30px;
}

.footer2 p {
    color: white;
    text-align: left;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(32, 64, 138);
    font-family: 'Lato', sans-serif;
    /* letter-spacing: 1px; */
    word-spacing: 1px;
}

.footer2 .secondFooter {
    padding-left: 25px;
}

.footer2 .copyRight {
    margin-left: 95px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

.footerHr {
    padding: 0px;
    margin: 0px;
}

.clientsHr {
    padding: 0px;
    margin: 0px;
}

.socialIcons {
    /* background-color: #9b9b9b; */
    background-color: #494545;
    margin-top: 5px;
}

.socialMediaIcons ul {
    list-style: none;
    text-align: left;
}

.socialMediaIcons ul li {
    display: inline-block;
}

.socialMediaIcons ul li a {
    letter-spacing: 20px;
    margin-top: 12px;
    /* border-radius: 5px solid #999; */
    /* background: none repeat scroll 0 0 #2b2b2b; */
    /* background-color: rgb(250, 245, 245); */
    /* border-radius: 50%; */
    color: white;
    display: inline-block;
    font-size: 17px;
    height: 10px;
    line-height: 30px;
    padding-left: 8px;
    position: relative;
    width: 37px;
}

.socialMediaIcons ul li a:hover {
    /* -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(60deg); */
    /* -ms-transform: rotate(45deg); */
    /* IE 9 */
    /* -ms-transform-origin: 20% 40%; */
    /* IE 9 */
    /* transform: rotate(45deg); */
    /* transform-origin: 20% 40%; */
}

.socialMediaIcons ul {
    margin-top: 10px;
}

.socialMediaIcons ul li {
    margin-left: 10px;
}

.socialMediaIcons ul li a {
    margin-left: 10px;
}


/* .footerNav ul li a{
    list-style: none;
    text-align: right;
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-family: 'Rubik', sans-serif;
} */

.footerNav ul {
    list-style: none;
    text-decoration: none;
    text-align: right;
    margin-top: 24px;
    font-family: 'Rubik', sans-serif;
}

.footerNav ul li {
    display: inline-block;
}

.footerNav ul li a {
    /* margin: 8px; */
    text-decoration: none;
    margin-left: 18px;
    font-size: 15px;
    /* color: #9b9b9b; */
    /* color: #2b2b2b; */
    color: white;
}